.studentProfile{
    color: #fff;
    display: flex;
    justify-content: space-around;
}
.studentProfile-left{
    text-align: center;
    margin: 10px 150px;
}
.studentProfile-left-label input{
    background-color:beige;
    color: black;
    width: 220px;
    height: 35px;
    margin: 20px;
    border: 2px yellow solid;
    border-radius: 5px;
}
.studentProfile-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}
.studentProfile-right-top{
    height: 300px;
    width: 250px;
}
.studentProfile-right-top img{
    border: 2px white solid;
    height: 300px;
    width: 250px;
    margin: 20px;
}
.studentProfile-right-bottom{
    margin-top: 80px;
}