.registerForm{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../../assets/compute-ea4c57a4.png);
    background-position: center;
}
.registerForm-top{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;
    align-items: center;
    background-color: #fff;
}
.registerForm-top-left{
    display: flex;
    font-size: 25px;
}
.registerForm-top-logo{
    display: flex;
    align-items: center;
}
.registerForm-top-logo img{
    width: 100px;
    height: 100px;
}
.registerForm-top-name{
    display: flex;
    margin-left: 30px;
}
.registerForm-top-right a{
    text-decoration: none;
    font-size: 30px;
    color: #5cb85c;
}
.registerForm-bottom{
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 140px;
}
.registerForm-buttons input{
    margin: 20px;
    font-size: 15px;
    padding: 5px 8px;
    font-weight: 550;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.registerForm-buttons-submit{
    background-color:#53a93f;
    color: #fff;
}
.registerForm-buttons-submit:hover{
    background-color:#5cb85c;
}
.registerForm-label{
    margin-top: 20px;
    font-size: 20px;
}
.registerForm-label input{
    width: 200px;
    height: 20px;
}
.registerForm-fieldset{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color:#282828;
    width: 320px;
    height: 470px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 1px 1px #ffffff42;
}
.registerForm-legend{
    margin-top: 15px;
    font-size: 30px;
}
.registerForm-login a{
    color: red;
    text-decoration: none;
    font-weight: 600;
}
.registerForm-login a:hover{
    font-weight: 700;
}
.registerForm-dropdown{
    margin-top: 20px;
}
.registerForm-message{
    color: red;
}