.registerForm{
    color: #fff;
    text-align: center;
    background-image: url(../../assets/register_bg.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registerForm-buttons input{
    margin: 20px;
    font-size: 15px;
    padding: 5px 8px;
    font-weight: 550;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.registerForm-buttons-submit{
    background-color:#53a93f;
    color: #fff;
}
.registerForm-buttons-submit:hover{
    background-color:#5cb85c;
}
.registerForm-label{
    margin-top: 20px;
    font-size: 20px;
}
.registerForm-label input{
    width: 200px;
    height: 20px;
}
.registerForm-fieldset{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color:#282828;
    width: 320px;
    height: 470px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.20);
}
.registerForm-legend{
    margin-top: 15px;
    font-size: 30px;
}
.registerForm-login a{
    color: red;
    text-decoration: none;
    font-weight: 600;
}
.registerForm-login a:hover{
    font-weight: 700;
}
.registerForm-dropdown{
    margin-top: 20px;
}
.registerForm-message{
    color: red;
}