.welcome{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.welcome-middle{
    display: flex;
    font-size: 35px;
    font-weight: 600;
}
.welcome-left{
    display: flex;
    font-size: 30px;
    margin-left: 20px;
}
.welcome-logo{
    display: flex;
    align-items: center;
}
.welcome-logo img{
    width: 100px;
    height: 100px;
}
.welcome-name{
    display: flex;
    margin-left: 30px;
}
.welcome-right{
    display: flex;
}
.welcome-right div{
    margin: 0px 30px;
}
.welcome-dashboard-button{
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: crimson;
    color: #fff;
    cursor: pointer;
}
.welcome-dashboard-button:hover{
    background-color: red;
}
.welcome-logout-button{
    margin-right: 40px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: darkorange;
    cursor: pointer;
}
.welcome-logout-button:hover{
    background-color:orange;
}
