.parentProfileEdit{
    color: #fff;
    display: flex;
    justify-content: space-around;
}
.parentProfileEdit-left-label{
    display: flex;
    align-items: center;
    justify-content: center;
}
.parentProfileEdit-left-label input{
    background-color:beige;
    color: black;
    width: 220px;
    height: 35px;
    margin: 20px;
    border: 2px yellow solid;
    border-radius: 5px;
}
.parentProfileEdit-left{
    margin: 10px 150px;
    text-align: center;
}
.parentProfileEdit-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parentProfileEdit-right-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parentProfileEdit-right-top img{
    border: 2px white solid;
    height: 300px;
    width: 250px;
    margin: 20px;
}
.parentProfileEdit-right-top-bottom{
    display: flex;
    align-items: center;
}
.parentProfileEdit-right-top-bottom button{
    font-size: 17px;
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    background-color:yellow;
    cursor: pointer;
}
.parentProfileEdit-right-top-bottom button:hover{
    font-weight: 600;
}
.parentProfileEdit-right-bottom{
    margin-top: 80px;
}
.parentProfileEdit-right-bottom button{
    height: 35px;
    width: 100px;
    background-color: green;
    color: #fff;
    font-weight: 800;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.parentProfileEdit-right-bottom button:hover{
    background-color:seagreen;
}