.studentProfileEdit{
    color: #fff;
    display: flex;
    justify-content: space-around;
}
.studentProfileEdit-left{
    text-align: center;
    margin: 10px 150px;
}
.studentProfileEdit-left-label input{
    background-color:beige;
    color: black;
    width: 220px;
    height: 35px;
    margin: 20px;
    border: 2px yellow solid;
    border-radius: 5px;
}
.studentProfileEdit-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}
.studentProfileEdit-right-top{
    height: 300px;
    width: 250px;
}
.studentProfileEdit-right-top img{
    border: 2px white solid;
    height: 300px;
    width: 250px;
    margin: 20px;
}
.studentProfileEdit-right-bottom{
    margin-top: 80px;
}
.studentProfileEdit-right-bottom button{
    height: 35px;
    width: 100px;
    background-color: green;
    color: #fff;
    font-weight: 800;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.studentProfileEdit-right-bottom button:hover{
    background-color:seagreen;
}