.footer{
    color: #fff;
    display: flex;
    flex-direction: column;
}
.footer-top{
    padding: 40px;
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.footer-bottom{
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
}
.footer-top-v2-links a{
    line-height: 40px;
    text-decoration: none;
    color: red;
}
.footer-top-v2-links a:hover{
    color: #fff;
}
.footer-top-v3{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer-top-v3-input input{
    width: 200px;
    height: 30px;
    margin: 15px;
    color: #fff;
    background-color: #282828;
    border: none;
}
.footer-top-v3-button input{
    font-size: 24px;
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #2d5fde;
    color: #fff;
    border: none;
    cursor: pointer;
}
.footer-top-v1-address{
    line-height: 30px;
}
.footer-bottom-right{
    display: flex;
    align-items: center;
}
.footer-social-icon{
    padding: 10px;
}
.footer-bottom-right a{
    text-decoration: none;
    color: #fff;
}
.footer-bottom-right a:hover{
    font-size: 20px;
}